<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css"
    integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

  <title>create exam</title>

  </style>
</head>

<body>
  <div class="container">
    <div class="row">
      <div class="col-lg-12">

        <h1 class="text-center">Hi {{ det.name }} </h1>
        <h2 class="text-center">Are You Ready</h2>
        {% for i in ques %}
        <div class="card mx-auto mt-5" style="width: 30rem;">
          <div class="card-body">
            <h4 class="card-title">Question:- {{ i.question }}</h4>
            <h5 class="card-title">Option1:- {{ i.option1 }}</h5>
            <h5 class="card-title">Option2:- {{ i.option2 }}</h5>
            <h5 class="card-title">Option3:- {{ i.option3 }}</h5>
            <h5 class="card-title">Option4:- {{ i.option4 }}</h5>
            <h5 id='mark'> Mark Obtained</h5>
              <input type="text" hidden id="orginal" value="{{ i.answer }}">
              <input type="text"  id="answers">
              <input type="text"  id="id" hidden value="{{i.id}}">
             <button type="button" onclick="view()" id="submit">Submit</button>

            
          </div>
        </div>
        {% endfor %}





      </div>
    </div>
  </div>
<script>
   $(document).ready(()=>{
     console.log('hi')
            $('#submit').click(()=>{
              // function view(){
                console.log($('#answers').val())
                $.ajax({
                    url:'/user/viewanswer',
                    type:'post',
                    data:{
                        'answers':$('#answers').val(),
                        'orginal':$('#orginal').val(),
                        'id':$('#id').val()
                    },
                    success:function(responce){
                      alert(responce.msg)
                        $('#mark').html(responce.mark)
                    }
                    
                
                })
              // }
              
            })
        })
</script>


  <!-- Optional JavaScript; choose one of the two! -->

  <!-- Option 1: jQuery and Bootstrap Bundle (includes Popper) -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-fQybjgWLrvvRgtW6bFlB7jaZrFsaBXjsOMm/tB9LTS58ONXgqbR9W8oWht/amnpF"
    crossorigin="anonymous"></script>

  <!-- Option 2: Separate Popper and Bootstrap JS -->
  <!--
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.min.js" integrity="sha384-VHvPCCyXqtD5DqJeNxl2dtTyhF78xXNXdkwX1CZeRusQfRKp+tA7hAShOK/B/fQ2" crossorigin="anonymous"></script>
    -->
</body>

</html>