{% extends 'master.html' %}
{% block content %}
{% load static %}

<style>
  .card {
    margin-top: 100px;
  }
</style>

<div class="container">
  <div class="row">
    <div class="col-lg-12">


      <div class="card">
        <div class="card-body">
          <div class="row">
          <div class="col-md-6">
            <a type="button" href="addstudent" class="btn btn-success">Add student</a><br><br><br><br>
            <a type="button" href="createexam" class="btn btn-info">Create Exam</a>
          </div>

          <div class="col-md-6">
            <img src="https://images.unsplash.com/photo-1533745848184-3db07256e163?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1032&q=80" class="img-fluid" alt="">
          </div>
        </div>
          <!-- <a href="addstudent">Add student</a> <br>
          <a href="createexam">Create Exam</a> -->
        </div>
      </div>

    </div>
  </div>
</div>

{% endblock %}